service: bonzai
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs18.x
  profile: ${env:PROFILE}
  region: eu-north-1
  iam:
    role: ${env:LAMBDA_ROLE}
  deploymentMethod: direct

useDotenv: true

plugins:
  - serverless-webpack

package:
  individually: true

functions:
  getBookings:
    handler: functions/getBookings/index.handler
    events:
      - httpApi:
          path: "/api/bookings"
          method: GET
  createBooking:
    handler: functions/createBooking/index.handler
    events:
      - httpApi:
          path: "/api/bookings"
          method: POST
  updateBooking:
    handler: functions/updateBooking/index.handler
    events:
      - httpApi:
          path: "/api/bookings/{bookingId}"
          method: PATCH
  deleteBooking:
    handler: functions/deleteBooking/index.handler
    events:
      - httpApi:
          path: "/api/bookings/{bookingId}"
          method: DELETE
  populateRooms:
    handler: functions/populateRooms/index.handler

resources:
  Resources:
    Bonzai:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Bonzai
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
          - AttributeName: GSI1-PK
            AttributeType: S
          - AttributeName: GSI1-SK
            AttributeType: S
        GlobalSecondaryIndexes:
          - IndexName: GSI1
            KeySchema:
              - AttributeName: GSI1-PK
                KeyType: HASH
              - AttributeName: GSI1-SK
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST
